body{
    background-color: #152836;
}

/* Scale images to thumbnail size and set margins for better positioning */
div img {
	width: 20%;
	height: 20%;
	margin-top: 10px;
	margin-right: 10px;
}

/* Hide the link text (underscore) for now */
div a {
	line-height: 0; 
    font-size: 0;
    color: transparent; 
}
