body {
    background-color: #152836; /* ececec can hide that annoying icon */
}

/* Get rid of animation icon that doesn't go away */
body:before {
	animation: none !important;
}

/* Scale images to thumbnail size and set margins for better positioning */
div img {
	width: 20%;
	height: 20%;
	margin-top: 10px;
	margin-right: 10px;
}

/* Hide the link text (underscore) for now */
div a {
	line-height: 0; 
    font-size: 0;
    color: transparent; 
}

/* Override styling of the template CSS for proper display of subtitles */

.lg-sub-html{
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0px;
}

.lg-sub-html h4 {
	line-height: 11.45px;
}

.lg-sub-html p {
	line-height: 20px;
	font-weight: 500;
}
